.recipeOverviewContainer {
  &__recipes {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  mat-paginator {
    align-self: center;
  }

  wh-recipes-overview-filters {
    margin-bottom: 30px;
  }
}