<!-- <wh-breadcrumb></wh-breadcrumb> -->
<div class="recipeOverviewContainer globalContainer globalContainer--breadcrumb"  fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngIf="appService.isAdmin()" class="addRecipe" matTooltip="Add recipe" [routerLink]="['add']">
    <mat-icon>add_circle</mat-icon>
  </div>
  <wh-recipes-overview-filters (updateEvent)="getData($event)" (resetEvent)="getData()" *ngIf="!recipeName"></wh-recipes-overview-filters>
  <div class="recipeOverviewContainer__recipes" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="grid">
    <wh-recipes-overview-item fxFlex="32%" *ngFor="let recipe of recipes$ | async" [recipe]="recipe" (favoriteEvent)="favoriteEvent(true)"></wh-recipes-overview-item>
  </div>
  <mat-paginator [pageSizeOptions]="[3, 9, 18]" *ngIf="recipes$"></mat-paginator>
</div>