<div 
  class="filtersContainer"
  fxLayout="row" 
  fxLayoutAlign="space-between flex-start">
  <form
    #myFiltersForm="ngForm"
    [formGroup]="quicksearchGroup"
    class="filtersContainer__quicksearch">
    <mat-form-field>
      <input
        placeholder="Enter a key word to quick search for recipes, tags or authors"
        matInput
        formControlName="search"
        string
      />
    </mat-form-field>
  </form>
  <div 
    class="filtersContainer__filters" 
    fxLayout="row" 
    fxLayoutAlign="space-between center">
    <button 
      (click)="openSortOptions()"
      class="btn btn--filters" 
      fxLayout="column" 
      fxLayoutAlign="center center">
      <mat-icon>
        filter_list
      </mat-icon>
    </button>
    <button 
      (click)="openFilterOptions()"
      class="btn btn--filters" 
      fxLayout="column" 
      fxLayoutAlign="center center">
      <mat-icon>
        tune
      </mat-icon>
    </button>
  </div>
</div>
<ng-template #filtersModale>
  <div class="filtersModale">
    <h2>Filter options</h2>
    <form 
      [formGroup]="filtersGroup">
      <section  fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="47.50">
          <mat-label>Recipe name</mat-label>
          <input
            matInput
            formControlName="recipeName"
            string
          />
        </mat-form-field>
        <mat-form-field fxFlex="47.50">
          <mat-label>Author name</mat-label>
          <input
            matInput
            formControlName="authorName"
            string
          />
        </mat-form-field>
      </section>
      <section fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="47.50">
          <mat-select
            formControlName="difficulty"
            placeholder="Filter by difficulty"
          >
            <mat-option value="Easy">Easy</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Hard">Hard</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="47.50">
          <mat-select
            formControlName="rating"
            placeholder="Filter by rating"
            #ratingSelect="matSelect"
          >
            <mat-select-trigger>
              <wh-recipe-rating [rating]="rating" [small]="true"></wh-recipe-rating>
            </mat-select-trigger>
            <mat-option value="1">
              <wh-recipe-rating [rating]="1"></wh-recipe-rating>
            </mat-option>
            <mat-option value="2">
              <wh-recipe-rating [rating]="2"></wh-recipe-rating>
            </mat-option>
            <mat-option value="3">
              <wh-recipe-rating [rating]="3"></wh-recipe-rating>
            </mat-option>
            <mat-option value="4">
              <wh-recipe-rating [rating]="4"></wh-recipe-rating>
            </mat-option>
            <mat-option value="5">
              <wh-recipe-rating [rating]="5"></wh-recipe-rating>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <wh-recipe-tags
        (activeTagsEvent)="updateTags($event)"
        [oldTags]="tags"
        [tagCategories]="tagCategories">
      </wh-recipe-tags>
      <section class="filtersModale__actions">
        <button
        fxFlex="45"
        class="btn btn--secondary"
        (click)="cancelUpdateFilters()">
          CANCEL
        </button>
        <button 
          fxFlex="45" 
          class="btn btn--main" 
          (click)="updateFilters()">
          UPDATE FILTERS
        </button>
      </section>
    </form>
  </div>
</ng-template>
