.btn {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0 !important;
  border: none;
  padding: 1rem 2rem;
  // margin: 0 auto;

  &--main {
    color: #fff !important;
    background-color: $primary !important;

    &:hover {
      background-color: $primary-light !important;
    }
  }

  &--secondary {
    background-color: $grey !important;

    &:hover {
      background-color: $grey-light !important;
    }
  }
}

