@import './../base/colors';

.mat-snack-bar-container {
  background-color: $primary;

  .mat-simple-snackbar-action {
    span {
      color: $green-light !important;
      font-variant: small-caps;
      font-size: 1.8rem;
    }
  }

  .mat-simple-snackbar {
    font-size: 1.6rem;
    span {
      color: white;
    }
  }

  // center alerts withouth actions
  &.centered-snackbar { 
    text-align: center !important;

    .mat-simple-snackbar {
      text-align: center !important;
      display: inline-block !important;
    }
  }
}
