.mat-step-header .mat-step-icon {
  background-color: $primary-light !important;
  color: #fff !important;
}

.mat-step-icon-content span,
.mat-step-icon-content mat-icon {
  color: #fff;
}

.mat-horizontal-stepper-content {
  padding-top: 2rem !important;
}

// uncomment this to deactivate header navigation in steppers
// ::ng-deep .mat-horizontal-stepper-header{
//   pointer-events: none !important;
// }
