.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__button {
    font-size: 1.4rem;
    font-weight: 80rem;
    text-transform: uppercase;
  }
}