<div class="commentsContainer" fxLayout="column" fxLayoutAlign="start start">
  <div class="commentsContainer__header">
    <span>{{ comments.length }} comments</span>
    <mat-divider></mat-divider>
  </div>
  <div class="commentsContainer__comment" fxLayout=" reverse column" fxLayoutAlign="start stretch" *ngFor="let comment of comments; let last = last">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="commentsContainer__comment__avatar">
        <wh-avatar [avatar]="comment.author.avatar" avatarSize="40px"></wh-avatar>
      </div>
      <div class="commentsContainer__comment__data" fxLayout="column" fxLayoutAlign="start flex-start">
        <span class="commentsContainer__comment__data--user">
          {{ comment.author.nickname }}
        </span>
        <span class="commentsContainer__comment__data--comment">{{ comment.comment }}</span>
        <span class="commentsContainer__comment__data--date">{{ appService.formatDate(comment.createdAt) }}</span>
      </div>
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
  
</div>
