@import './../../../../styles/base/colors';

.sectionContainer {
  margin-top: 20px;
  h1 {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-light;
  }

}
