<div
  class="recipeContainer globalContainer"
  fxLayout="column"
  fxLayoutAlign="flex-start stretch"
>
  <mat-card class="recipe noBox" *ngIf="recipe">
    <mat-card-header
      class="recipe__header"
      fxLayout="column"
      fxLayoutAlign="flex-start flex-start"
    >
      <div class="recipe__header__img" fxLayout="column" fxLayoutAlign="center center">
        <img
          [src]="environment.API_URL + '/getpicture/' + recipe.picture"
          alt="{{ recipe.name }}"
        />
      </div>
      
      <div
        class="recipe__header__infos"
        fxLayout="column"
        fxLayoutAlign="flex-start flex-start"
      >
        <section fxLayout="row">
          <span
          class="recipe__header__name"
          fxLayout="row"
          fxLayoutAlign="start flex-start"
          >
            {{ recipe.name }}
          </span>
          <span
            class="recipe__header__tags"
            *ngFor="let tag of recipe.recipeTags"
            matTooltip="{{
              'Check all recipes related to the ' + tag.tag.name + ' tag'
            }}"
            routerLink="/recipes"
            fxHide.lt-sm
            >{{ tag.tag.name }}
          </span>
        </section>
        <section
          fxLayout="row"
          fxLayoutAlign="start flex-end"
          >
            <wh-recipe-rating
              *ngIf="recipe.avgReview"
              [rating]="recipe.avgReview"
            ></wh-recipe-rating>
            <span
              >{{ recipe.recipeReviews.length }}
              {{ recipe.recipeReviews.length > 1 ? 'REVIEWS' : 'REVIEW' }}</span
            >
            <span
              fxLayout="row"
              fxLayoutAlign="start center"
              *ngIf="recipe.avgReview"
            >
              &nbsp; / &nbsp;
              {{ recipe.avgReview }} AVERAGE
            </span>
          </section>
          <p class="recipe__header__description">{{ recipe.description }}</p>
      </div>
    </mat-card-header>
    <mat-card-content *ngIf="recipe" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start">
      <section fxFlex="60">
        <wh-recipe-instructions
          [recipe]="recipe"
        ></wh-recipe-instructions>
      </section>
      <section fxFlex="30">
        <wh-recipe-review-or-edit
          [recipe]="recipe"
          (updateEvent)="getData(recipeId)"
        ></wh-recipe-review-or-edit>
        <wh-recipe-author [author]="recipe.author"></wh-recipe-author>
        <wh-recipe-comments [recipe]="recipe" (updateEvent)="getData(recipeId)"></wh-recipe-comments>
      </section>
    </mat-card-content>
  </mat-card>

</div>
