@import './../../../../styles/base/colors';

.profileAvatarsContainer {
  padding: 50px;

  h1 {
    text-align: center;
  }

  wh-avatar {
    border: 6px solid #fff;
    margin: 20px;
    border-radius: 50%;
    transition: all .2s;

    &.avatar-active {
      border: 6px solid $green-light;
      transform: scale(1.1);
      box-shadow:  13px 13px 26px #d5d5d5,
      -13px -13px 26px #ffffff;
      
    }
  }

  &__actions {
    width: 100%;
    padding: 20px;
  }
}