@import './../../../styles/abstract/variables';
@import './../../../styles/base/colors';

.breadcrumbContainer {
  width: 100%;
  height: $breadcrumb-height;
  background-color: $grey-light;

  .breadcrumb {
    width: $container-width;
    margin: 0 auto;
    height: 100%;

    span { 
      font-size: 1.4rem;
    }
  }
}

span {
  font-size: 2rem !important;
}
