<mat-card class="recipeAuthorContainer noBox" fxLayout="column" fxLayoutAlign="start center">
  <div class="recipeAuthorContainer__avatar">
    <img src="./../../../../../assets/img/avatar.png" alt="Author Avatar">
  </div>
  <div class="recipeAuthorContainer__infos" fxLayout="column" fxLayoutAlign="start start">
    <h2>Author</h2>
    <div class="recipeAuthorContainer__infos__line" fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{ author.nickname }}</span>
      <span>{{ author.role }}</span>
    </div>
    <div class="recipeAuthorContainer__infos__line" fxLayout="row" fxLayoutAlign="space-between center">
      <span>Recipes added: {{ authorRecipesCount }}</span>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="recipeAuthorContainer__infos__line--icon" >volunteer_activism</mat-icon>
        <span>{{ authorClaps }}</span>
      </div>
    </div>
    <p *ngIf="author.profile.bio" class="recipeAuthorContainer__infos__bio">{{ author.profile.bio }}</p>
  </div>
  <button class="recipeAuthorContainer__infos__clapBtn" (click)="clapUser()">Clap this contributor</button>
</mat-card>
