<div
  class="blogWrapper globalContainer"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div
    class="blogPost"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    [routerLink]="['/blog/post/', post.id]"
    *ngIf="post"
  >
    <div class="blogPost__img" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="environment.API_URL + '/getpicture/' + post.picture" alt="Post" />
    </div>

    <div class="blogPost__infos" fxLayout="column" fxLayoutAlign="start center">
      <mat-card-title class="blogPost__infos__title">{{
        post.title
      }}</mat-card-title>
      <span class="blogPost__infos__content" markdown>{{ post.content }}</span>
      <div
        class="blogPost__infos__author"
        fxLayout="row"
        fxLayoutAlign="space-between center;"
      >
        <span>
          Posted by
          <span class="blogPost__infos__author--name">{{
            post.author.nickname
          }}</span>
        </span>
        <span>{{ appService.formatDate(post.createdAt) }}</span>
      </div>
    </div>
  </div>
</div>
