<div class="ingredientsContainer" *ngIf="ingredients.length > 0" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="ingredientsContainer__header" fxLayout="column" fxLayoutAlign="space-around stretch">
    <section class="ingredientsContainer__header__info"  fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>schedule</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--label">
          total time
        </span>
      </div>
      <span class="ingredientsContainer__header__info--data">
        {{ recipe.cookTime }}
      </span>
    </section>
    <mat-divider [inset]="true"></mat-divider>
    <section class="ingredientsContainer__header__info" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>restaurant_menu</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--label">yield</span>
      </div>
      <span class="ingredientsContainer__header__info--data">
        {{ recipe.serves }} Servings
      </span>
    </section>
    <mat-divider [inset]="true"></mat-divider>
    <section class="ingredientsContainer__header__info" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>outdoor_grill</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--label">difficulty &nbsp;</span>
      </div>
      <span class="ingredientsContainer__header__info--data">
        {{ recipe.difficulty }}
      </span>
    </section>
  </div>
  <div class="ingredientsContainer__ingredients">
    <div class="ingredientsContainer__ingredients__header" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="ingredientsContainer__ingredients__header--title">INGREDIENTS</span>
      <wh-recipe-ingredients-options></wh-recipe-ingredients-options>
    </div>
    <div *ngFor="let ingredient of ingredients" fxLayout="row" fxLayoutAlign="start center">
      <span class="ingredientsContainer__ingredients--dot">&#9679;</span>
      <span class="ingredientsContainer__ingredients--quantity">{{ ingredient.quantity }} {{ ingredient.unit }}&nbsp;</span>
      <span class="ingredientsContainer__ingredients--name" matTooltip="{{ ingredient.Ingredient.description }}">{{ ingredient.Ingredient.name }}</span>
    </div>
  </div>
  <button class="ingredientsContainer__shoppingBtn">Add to your shopping list</button>
  
</div>
