<div
  class="avatar"
  [ngStyle]="{ width: avatarSize, height: avatarSize }"
  fxLayout="column"
  fxLayoutALign="center center"
>
  <mat-icon
    class="avatar__icon"
    [svgIcon]="avatar"
    alt="User Avatar"
    *ngIf="avatar"
    [ngStyle]="{ 'font-size': avatarSize }"
  ></mat-icon>
  <div class="avatar__edit" *ngIf="edit" [ngStyle]="{ 'width': editSize, 'height': editSize }">
    <mat-icon
    [ngStyle]="{ 'font-size': editSize }"
    class=" material-icons-outlined"
    >create</mat-icon
  >
  </div>
  
</div>
