@import './../../../../../../styles/base/colors';

.optionsContainer {

  &__units {
    margin-right: 5px;
  }

  button {
    height: 26px;
    width: 26px;
    background-color: white;
    border: 1px solid $grey-dark;
    color: $grey-dark;
    padding: 3px;
    margin-right: 5px;
    cursor: pointer;
  
    &.active {
      color: $primary-dark;
      border: 1px solid $primary-dark;
    }
  }
}
