<div *ngIf="tagCategories" class="tagsContainer">
  <section *ngFor="let category of tagCategories" fxFlex="{{ 100 / tagCategories.length }}" fxLayout="column" fxLayoutAlign="flex-start center">
    <p class="tagsCategory">
      <span>{{ category.name }}</span>
      <br/>
      <span class="maxTags">(max: {{ category.maxActiveTags }})</span>
    </p>
    <span class="tag" *ngFor="let tag of category.RecipeTagLabels" (click)="switchTag(tag)" [ngClass]="{'tag--active': activeTags.includes(tag)}">
      {{ tag.name }}
    </span>
  </section>
</div>
