@import './../../../../../styles/base/colors';

.addCommentContainer {
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
  // background-color: $grey-light;

  .mat-form-field-flex {
    background-color: #fff !important;
  }

}