@import './../../../../styles/base/colors';

.shoppingList {
  padding: 1rem 0;
  background-color: $grey-light;
  min-width: 15rem;
  margin-bottom: 2rem;

  &__header {
    width: 100%;
    height: 3rem;

    span {
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__list {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;

    &__item {
      margin-bottom: 1rem;
    }
  }

  &__label {
    font-weight: bold;
  }

  &__footer {
    width: 90%;
    button {
      width: 100%;
    }
  }
}
