<div class="recipeContainer globalContainer" fxLayout="row" fxLayoutAlign="space-between start">
  <mat-card class="recipe noBox" *ngIf="recipe" fxFlex="60">
    <mat-card-header class="recipe__header" fxLayout="column" fxLayoutAlign="space-between start">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; margin-bottom: 20px;">
        <span class="recipe__header__name" fxLayout="row" fxLayoutAlign="start flex-start">
          {{recipe.name}}
          <span class="recipe__header__tags" *ngFor="let tag of recipe.recipeTags" matTooltip="{{ 'Check all recipes related to the ' + tag.tag.name + ' tag'}}" routerLink="/recipes">{{ tag.tag.name }}</span>
        </span>
        
      </div>
      <div class="recipe__header__infos" fxLayout="row" fxLayoutAlign="start flex-end">
        <wh-recipe-rating [rating]="appService.getAvgReview(recipe.recipeReviews)"></wh-recipe-rating>
        <span>{{ recipe.recipeReviews.length }} REVIEWS</span>
        <span> &nbsp; / &nbsp;</span>
        <span fxLayout="row" fxLayoutAlign="start center">
          {{ appService.getAvgReview(recipe.recipeReviews) }} AVERAGE
        </span>

      
      </div>
      <p class="recipe__header__description">{{ recipe.description }}</p>
      <img class=" recipe__header__img" src="./../../../../assets/img/tartare.jpeg" alt="{{recipe.name}}">
    </mat-card-header>
    <mat-card-content>
      <wh-recipe-instructions [recipe]="recipe"></wh-recipe-instructions>
    </mat-card-content>
      <!-- <div *ngFor="let instruction of recipe.recipeInstructions; let i = index" class="recipe__content__instruction" fxLayout="row" fxLayoutAlign="start start">
        <span *ngIf="recipe.recipeInstructions.length > 1" class="recipe__content__instruction__index">{{ i + 1 }}.</span>
        <p>{{ instruction.instruction }} </p>
      </div> -->
  </mat-card>

  <mat-card class="about noBox" fxFlex="30" *ngIf="recipe">
    <wh-recipe-ingredients [recipe]="recipe"></wh-recipe-ingredients>
    <wh-recipe-author [author]="recipe.author"></wh-recipe-author>
  </mat-card>
</div>
