<div class="addRateContainer" fxLayout="column" fxLayoutAlign="start center" *ngIf="!isAuthor">
  <h1 class="addRateContainer__title">
    {{ updating ? 'Update your review' : 'Review this recipe' }}
  </h1>
  <div class="addRateContainer__stars">
    <mat-icon *ngFor="let n of stars" (click)="setRating(n)">{{
      getIcon(n)
    }}</mat-icon>
  </div>
  <p class="addRateContainer__message" *ngIf="message">{{ message }}</p>
  <button
    [disabled]="userRating < 1 || userRating > 5"
    (click)="addOrUpdateReview()"
    class="addRateContainer__button"
  >
    {{ updating ? 'update review' : 'add review' }}
  </button>
</div>

<div class="addRateContainer" fxLayout="column" fxLayoutAlign="start center" *ngIf="isAuthor">
  <span class="addRateContainer__message--date">{{ getEditRecipeSentence() }}</span>
  <span class="addRateContainer__message--date">{{ getEditRecipeDate() }}</span>
  <button
    (click)="editRecipe()"
    class="addRateContainer__button"
  >
    Edit recipe
  </button>
</div>
