/* global reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

@media (max-width: 1200px) {
  html {
  	font-size: 63.5%;
  }
}

@media (max-width: 700px) {
  html {
  	font-size: 64.5%;
  }
}