@import './../../../../../../styles/base/colors';

$filters-height: 5rem;

.recipesFiltersContainer {
  width: 100%;

  // ::ng-deep .mat-form-field-outline-start, ::ng-deep .mat-form-field-outline-end {
  //   border-radius: 0 0 0 0;
  // }

  ::ng-deep .mat-form-field-outline-start {
    border-left: 0.3rem solid $primary;
    border-top: 0.3rem solid $primary;
    border-bottom: 0.3rem solid $primary;
    height: $filters-height;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-top: 0.3rem solid $primary;
    border-right: 0.3rem solid $primary;
    border-bottom: 0.3rem solid $primary;
    height: $filters-height;
  }

  ::ng-deep .mat-form-field input {
    height: 100%;
    height: 7rem;
  }

  form {
    width: 100%;
  }

  .filterBtn {
    border: none;
    cursor: pointer;
    height: $filters-height;
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    background-color: $primary;
    color: $grey-light;

    &:hover {
      background-color: $primary-light;
    }
  }
}
