@import './../../../../styles/base/colors';

.uploadFile {
  margin-bottom: 2rem;

  button {
    margin-right: 1rem;
  }

  span {
    font-style: italic;
    color: $primary-light;
  }

  &__preview {
    &__image {
      margin-bottom: 2rem;
      margin-right: 2rem;
      height: 15vh;
      width: auto;

      img {
        height: 15vh;
        min-height: 15vh;
      }
    }
  }
}

.tagsContainer {
  height: 5rem;

  &__tag {
    cursor: pointer;
    transform: translateY(0.6rem);
    border: 0.1rem dashed $primary;
    height: 4rem;
    margin-right: 1rem;

    mat-icon {
      display: none;
      position: absolute;
      left: calc(50% - 1rem);
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      color: $primary;
    }

    span {
      padding: 0 1rem;
      font-variant: small-caps;
    }

    &:hover {
      background-color: rgba($grey-light, 0.6);

      span {
        color: rgba($primary-dark, 0.6);
      }

      mat-icon {
        display: block;
      }
    }
  }
}

.step__footer {
  margin: 2rem 0;
  .btn {
    width: 10rem;

    &:first-child {
      margin-right: 2rem;
    }
  }
}

mat-icon.formIcon {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  transform: translateY(1.2rem);
  cursor: pointer;

  &--add:hover {
    color: $primary-light;
  }

  &--check {
    color: $check;
    &:hover {
      color: $check-light;
    }
  }

  &--cancel {
    color: $warning;
    &:hover {
      color: $warning-light;
    }
  }
}

.newRecipeForm {
  &__ingredients,
  &__instructions {
    mat-form-field {
      margin-right: 2rem;
    }

    &__recap {
      border: 0.5rem solid $primary;

      &__header {
        background-color: $primary;
        height: 5rem;

        span {
          color: $grey-light;
          text-transform: uppercase;
          font-size: 1.6rem;
        }
      }

      &__line {
        padding: 0.5rem 2rem;
      }

      &__label {
        font-weight: 500;
      }

      &__instructions,
      &__notes {
        padding: 2rem;
      }

      &__instructions {
        &__line {
          margin-bottom: 1rem;

          &__number {
            margin-right: 1rem;
            text-align: center;
            min-height: 1.8rem !important;
            min-width: 1.8rem !important;
            max-height: 1.8rem !important;
            max-width: 1.8rem !important;
            font-size: 1.4rem;
            border-radius: 50%;
            background-color: $primary;
            color: $grey-light;
          }

          &__label {
            font-weight: 500;
            margin-right: 0.5rem;
          }
        }
      }

      &__notes {
        background-color: $grey-light;

        &__line {
          width: 100%;
          background-color: #fff;
          padding: 1rem;
          margin-bottom: 2rem;

          &__icon {
            height: 2.2rem;
            width: 2.2rem;

            mat-icon {
              color: $primary;
              margin-right: 1rem;
              height: 2.2rem;
              width: 2.2rem;
              font-size: 2.2rem;
              align-self: center;
              line-height: 2.2rem;
              padding: 0;
            }
          }

          &__label {
            font-weight: 500;
            margin-right: 0.5rem;
          }
        }

        & > span {
          margin-bottom: 2rem;
          font-weight: 500;
          align-self: center;
          text-transform: uppercase;
          font-size: 1.6rem;
        }
      }
    }
  }

  &__preview {
    &__image {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

.stepTitle {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-style: italic;
  
  &--recipeName {
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
  }
}
