<div class="globalContainer">
  <h1>Add new recipe</h1>
  <span
    >Welcome to the recipe addition form. Follow the different steps, enter the
    necessary information for your recipe and share it with the community.</span
  >
  <mat-stepper #stepper>
    <!-- <mat-stepper [linear]="true" #stepper> -->
    <!-- first step: recipe name and check recipes -->
    <mat-step [stepControl]="recipeNameGroup" errorMessage="Step incomplete">
      <ng-template matStepLabel>New recipe</ng-template>
      <form [formGroup]="recipeNameGroup">
        <div
          class="stepTitle stepTitle"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span>Choose a title and a description for your recipe. You can check if a similar recipe already exists on the website !</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-start flex-start">
          <mat-form-field fxFlex="20" style="margin-right: 2rem">
            <mat-label>Recipe name</mat-label>
            <input
              matInput
              type="text"
              min="0"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field fxFlex="40">
            <mat-label>Description</mat-label>
            <input
              matInput
              type="text"
              min="0"
              formControlName="description"
              required
            />
          </mat-form-field>
        </div>
      </form>
      <div class="step__footer">
        <button class="btn btn--secondary">Cancel</button>
        <button
          class="btn btn--main"
          [disabled]="recipeNameGroup.invalid"
          matStepperNext
        >
          Next
        </button>
      </div>
      <wh-recipes-overview
        *ngIf="recipeName"
        [recipeName]="recipeName"
      ></wh-recipes-overview>
    </mat-step>
    <!-- Second step : informations -->
    <mat-step [stepControl]="informationGroup" errorMessage="Step incomplete">
      <ng-template matStepLabel>Informations</ng-template>
      <div
        class="stepTitle stepTitle--recipeName"
        *ngIf="recipeName"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>{{ recipeName }}</span>
      </div>

      <form [formGroup]="informationGroup">
        <div>
          <section>
            <h2>Add a picture</h2>
            <div class="uploadFile">
              <div
                *ngIf="pictureFile"
                class="uploadFile__preview"
                fxLayout="row"
                fxLayoutAlign="flex-start center"
              >
                <div class="uploadFile__preview__image">
                  <img [src]="previewPicturePath" alt="File Uploading" />
                </div>
                <span>{{ pictureFile.name }}</span>
              </div>
              <button
                type="button"
                mat-raised-button
                (click)="fileInput.click()"
              >
                {{ pictureFile ? 'Change File' : 'Choose File' }}
              </button>
              <input
                hidden
                (change)="setPicture($event)"
                #fileInput
                type="file"
                accept="image/*"
              />
            </div>
          </section>
          <section>
            <h2>Add recipe tags (max 3)</h2>
            <div fxLayout="row" fxLayoutAlign="flex-start">
              <mat-form-field style="margin-right: 2rem">
                <mat-label>Tag</mat-label>
                <mat-select formControlName="tag">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup
                    *ngFor="let category of tagCategories"
                    [label]="category.name"
                  >
                    <ng-container
                      *ngFor="let label of category.RecipeTagLabels"
                    >
                      <mat-option [value]="label" *ngIf="!checkTag(label.name)">
                        {{ label.name }}
                      </mat-option>
                    </ng-container>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <mat-icon
                (click)="addTag()"
                class="addIcon"
                style="margin-right: 2rem"
                >add_circle</mat-icon
              >
              <div
                class="tagsContainer"
                *ngIf="tags.length > 0"
                fxLayout="row"
                fxLayoutAlign="flex-start center"
              >
                <div
                  class="tagsContainer__tag"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  *ngFor="let tag of tags; let i = index"
                  (click)="removeTag(i)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>{{ tag.name }}</span>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Servings</h2>
            <mat-form-field>
              <mat-label>people</mat-label>
              <input
                matInput
                type="number"
                min="0"
                default="0"
                formControlName="servings"
                required
                number
              />
            </mat-form-field>
          </section>
          <section>
            <h2>Cook time</h2>
            <mat-form-field>
              <mat-label>hours</mat-label>
              <input
                matInput
                type="number"
                min="0"
                formControlName="hours"
                required
                number
              />
            </mat-form-field>
            <span>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</span>
            <mat-form-field>
              <mat-label>minutes</mat-label>
              <input
                matInput
                type="number"
                min="0"
                formControlName="minutes"
                required
                number
              />
            </mat-form-field>
          </section>
          <section style="margin-bottom: 2rem">
            <h2>Difficulty</h2>
            <mat-radio-group
              aria-label="Select an mat-option"
              formControlName="difficulty"
            >
              <mat-radio-button value="Easy">Easy</mat-radio-button>
              <mat-radio-button value="Medium">Medium</mat-radio-button>
              <mat-radio-button value="Difficult">Difficult</mat-radio-button>
            </mat-radio-group>
          </section>
          <section style="margin-bottom: 2rem">
            <h2>Measurement units</h2>
            <mat-radio-group
              aria-label="Select an mat-option"
              formControlName="units"
            >
              <mat-radio-button value="metrics">Metrics</mat-radio-button>
              <mat-radio-button value="us">US</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
        <div class="step__footer">
          <button class="btn btn--secondary" (click)="stepper.previous()">
            Previous
          </button>
          <button
            class="btn btn--main"
            [disabled]="recipeNameGroup.invalid || informationGroup.invalid"
            (click)="stepper.next()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="recipeNameGroup" errorMessage="Step incomplete">
      <ng-template matStepLabel>Ingredients</ng-template>
      <div
        class="stepTitle stepTitle--recipeName"
        *ngIf="recipeName"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>{{ recipeName }}</span>
      </div>
      <h2>Add an ingredient</h2>
      <div fxLayout="row" fxLayoutAlign="space-between flex-start">
        <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
          <form
            [formGroup]="ingredientGroup"
            class="newRecipeForm__ingredients"
            fxFlex="70"
          >
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                type="number"
                min="0"
                formControlName="quantity"
                required
                number
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit">
                <mat-option>-- None --</mat-option>
                <mat-optgroup
                  *ngFor="let group of getUnitsOptions()"
                  [label]="group.name"
                >
                  <mat-option
                    *ngFor="let unit of group.units"
                    [value]="unit.value"
                  >
                    {{ unit.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingredient</mat-label>
              <input
                matInput
                type="text"
                minlength="0"
                value="4"
                formControlName="ingredient"
                required
                number
              />
            </mat-form-field>
            <mat-icon (click)="addIngredient()" class="addIcon"
              >add_circle</mat-icon
            >
          </form>
          <div class="step__footer">
            <button class="btn btn--secondary" (click)="stepper.previous()">
              Previous
            </button>
            <button
              class="btn btn--main"
              [disabled]="
                ingredients.length <= 0 ||
                recipeNameGroup.invalid ||
                informationGroup.invalid
              "
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </div>
        <!-- TODO delete when new recipe detail OK -->
        <wh-new-recipe-preview-ingredients
          [recipe]="formatRecipe()"
          [preview]="true"
          fxFlex="30"
          *ngIf="ingredients.length > 0"
        ></wh-new-recipe-preview-ingredients>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Instructions</ng-template>
      <div
        class="stepTitle stepTitle--recipeName"
        *ngIf="recipeName"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>{{ recipeName }}</span>
      </div>
      <form
        [formGroup]="instructionGroup"
        class="newRecipeForm__instructions"
        style="width: 80%"
      >
        <h2>Add an instruction</h2>
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start flex-start"
          style="width: 80%"
        >
          <mat-form-field fxFlex="20">
            <mat-label>Label</mat-label>
            <input
              matInput
              type="text"
              min="0"
              formControlName="instructionLabel"
              number
            />
          </mat-form-field>
          <mat-form-field fxFlex="75">
            <mat-label>Instruction</mat-label>
            <input
              matInput
              type="text"
              minlength="0"
              formControlName="instruction"
              required
              number
            />
          </mat-form-field>
          <mat-icon (click)="addInstruction()" class="addIcon"
            >add_circle</mat-icon
          >
        </div>
        <span
        *ngIf="instructions.length < 1"
          >You need to add atleast one instruction to your recipe</span
        >
        <h2>Add a note</h2>
        <div
          fxLayout="row"
          fxLayoutAlign="flex-start flex-start"
          style="width: 80%"
        >
          <mat-form-field fxFlex="20">
            <mat-label>Label</mat-label>
            <input
              matInput
              type="text"
              min="0"
              formControlName="noteLabel"
              number
            />
          </mat-form-field>
          <mat-form-field fxFlex="75">
            <mat-label>Note</mat-label>
            <input
              matInput
              type="text"
              minlength="0"
              formControlName="note"
              required
              number
            />
          </mat-form-field>
          <mat-icon (click)="addNote()" class="addIcon">add_circle</mat-icon>
        </div>
        <div
          class="newRecipeForm__instructions__recap"
          *ngIf="instructions.length > 0 || notes.length > 0;"
          style="width: 80%; margin-bottom: 2rem"
        >
          <div
            class="newRecipeForm__instructions__recap__header"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <span>Instructions</span>
          </div>
          <div
            class="newRecipeForm__instructions__recap__instructions"
            *ngIf="instructions.length > 0"
          >
            <div
              *ngFor="let instruction of instructions; let i = index"
              fxLayout="row"
              fxLayoutAlign="start start"
              class="newRecipeForm__instructions__recap__instructions__line"
            >
              <div
                class="newRecipeForm__instructions__recap__instructions__line__number"
                fxLayout="column"
                fxLayoutAlign="center center"
              >
                {{ i + 1 }}
              </div>
              <span
                *ngIf="instruction['label']"
                class="newRecipeForm__instructions__recap__instructions__line__label"
                >{{ instruction['label'] }}&nbsp;:</span
              >
              <span
                class="newRecipeForm__instructions__recap__instructions__line__value"
                >{{ instruction['instruction'] }}</span
              >
            </div>
          </div>
          <div
            class="newRecipeForm__instructions__recap__notes"
            *ngIf="notes.length > 0"
            fxLayout="column"
            fxLayoutAlign="flex-start flex-start"
          >
            <span>Notes</span>
            <div
              *ngFor="let note of notes"
              class="newRecipeForm__instructions__recap__notes__line"
              fxLayout="row"
              fxLayoutAlign="flex-start center"
            >
              <div
                fxLayout="column"
                fxLayoutAlign="center center"
                class="newRecipeForm__instructions__recap__notes__line__icon"
              >
                <mat-icon>info</mat-icon>
              </div>
              <span
                class="newRecipeForm__instructions__recap__notes__line__label"
                *ngIf="note['label']"
                >{{ note['label'] }}:</span
              >
              <span class="newRecipeForm__instructions__recap__notes__value">{{
                note['note']
              }}</span>
            </div>
          </div>
        </div>
        <div class="step__footer">
          <button class="btn btn--secondary" (click)="stepper.previous()">
            Previous
          </button>
          <button
            class="btn btn--main"
            [disabled]="
              instructions.length <= 0 ||
              ingredients.length <= 0 ||
              recipeNameGroup.invalid ||
              informationGroup.invalid
            "
            (click)="stepper.next()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Preview</ng-template>
      <div
        class="stepTitle"
        *ngIf="isValidRecipe()"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>Check your recipe before creating !</span>
      </div>

      <div
        class="newRecipeForm__preview"
        fxLayout="row"
        fxLayoutAlign="space-between flex-start"
        *ngIf="isValidRecipe()"
      >
        <wh-recipe-instructions
          [recipe]="formatRecipe()"
          [preview]="true"
          fxFlex="60"
          ></wh-recipe-instructions> 
        <div class="newRecipeForm__preview__image" fxFlex="30">
          <img [src]="previewPicturePath" alt="Recipe Picture Preview" />
        </div>
      </div>
      <div class="step__footer">
        <button class="btn btn--secondary" (click)="stepper.previous()">
          Previous
        </button>
        <button
          class="btn btn--main"
          [disabled]="!isValidRecipe()"
          (click)="createRecipe()"
        >
          Create
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
