<div class="recipeContainer">
  <div class="recipeContainer__header" fxLayout="column" fxLayoutAlign="center center">
    <span class="recipeContainer__header__title">{{ recipe.name }}</span>
    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- timer -->
      <div class="recipeContainer__header__info" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="ingredientsContainer__header__info--icon">schedule</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--data">
          {{ appService.formatTimer(recipe.cookTime) }}
        </span>
      </div>
      <!-- servings -->
      <div class="recipeContainer__header__info" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="ingredientsContainer__header__info--icon">restaurant_menu</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--data">
          {{ recipe.serves }} Servings
        </span>
      </div>
      <!-- difficulty -->
      <div class="recipeContainer__header__info" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="ingredientsContainer__header__info--icon">outdoor_grill</mat-icon>
        &nbsp;
        <span class="ingredientsContainer__header__info--data">
          {{ recipe.difficulty }}
        </span>
      </div>
    </div>
  </div>
  <!-- ! header end -->
  <div
    class="recipeContainer__actions"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    *ngIf="!preview"
  >
    <div
      class="recipeContainer__actions__action recipeContainer__actions__action--print"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="printRecipe()"
    >
      <mat-icon>print</mat-icon>
      <span>print recipe</span>
    </div>
    <div
      class="recipeContainer__actions__action recipeContainer__actions__action--pin"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="addOrRemoveFavorite()"
    >
      <mat-icon>{{
        recipeInFavorites ? 'favorite' : 'favorite_border'
      }}</mat-icon>
      <span>{{ recipeInFavorites ? 'remove' : 'add' }} favorite</span>
    </div>
  </div>
  <div class="recipeContainer__ingredients">
    <div
      class="recipeContainer__ingredients__header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <h1 class="recipeContainer__ingredients__title"
        >ingredients</h1
      >
      <div fxLayout="row" *ngIf="!preview">
        <wh-recipe-ingredients-options
          [units]="recipe.unit"
          (unitsEvent)="unitEvent($event)"
          (scaleEvent)="scaleEvent($event)"
          *ngIf="!preview"
        ></wh-recipe-ingredients-options>
        <div class="recipeContainer__ingredients__addShoppingList" fxLayout="column" fxLayoutAlign="center center" matTooltip="Add to your shopping list">
          <mat-icon (click)="addShoppingList()">
            add_shopping_cart
          </mat-icon>
        </div>
        
      </div>
    </div>
    <div class="recipeContainer__ingredients__ingredient"
      *ngFor="let ingredient of ingredients"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <span class="recipeContainer__ingredients__ingredient--dot">&#9679;</span>
      <span class="recipeContainer__ingredients__ingredient--quantity">
        {{ getQuantity(ingredient) }}
        {{ getUnit(ingredient) }}
        &nbsp;
      </span>
      <span class="recipeContainer__ingredients__ingredient--name">{{
        ingredient.name
      }}</span>
    </div>
  </div>
  <div
    class="recipeContainer__notes"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <h1 class="instructionsTitle recipeContainer__notes__title">notes</h1>
    <div
      class="recipeContainer__notes__note"
      *ngFor="let note of notes"
      fxLayout="row"
      fxLayoutAlign="start start"
    >
      <mat-icon class="recipeContainer__notes__note__icon">info</mat-icon>
      <span class="recipeContainer__notes__note__data">
        <span class="recipeContainer__notes__note__data--label">
          {{ note.label }}:
        </span>
        <span class="recipeContainer__notes__note__data--detail">
          {{ note.note }}
        </span>
      </span>
    </div>
  </div>
  <div
    class="recipeContainer__instructions"
    fxLayout="column"
    fxLayoutAlign="start flex-start"
  >
    <h1 class="recipeContainer__instructions__title">instructions</h1>
    <div
      *ngFor="let instruction of instructions; let i = index"
      class="recipeContainer__instructions__instruction"
      fxLayout="row"
      fxLayoutAlign="start start"
    >
      <div
        class="recipeContainer__instructions__instruction__number"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        {{ i + 1 }}
      </div>
      <span class="recipeContainer__instructions__instruction__data">
        <span
          class="recipeContainer__instructions__instruction__data--label"
        >
          {{ instruction.label }}:
        </span>
        <span
          class="recipeContainer__instructions__instruction__data--detail"
        >
          {{ instruction.instruction }}
        </span>
      </span>
    </div>
  </div>
</div>
