@import './../../../../../styles/base/colors';

.instructionsContainer {
  border: 0.5rem solid $primary;

  .instructionsTitle {
    font-variant: small-caps;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &__header {
    width: 100%;
    background-color: $primary;
    height: 5rem;
    margin-bottom: 2rem;
    
    span {
      color: $grey-light;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
  }

  &__actions {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;

    &__action {
      padding: 1rem;
      text-align: center;
      width: 45%;
      background: $grey-light;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;

      mat-icon {
        margin-right: 1rem;
      }
    }
  }

  &__instructions {
    width: 90%;
    margin: 0 auto;

    &__title {
      font-variant: small-caps;
      margin-bottom: 2rem;
      font-weight: 500;
    }

    &__instruction {
      width: 100%;
      margin-bottom: 1rem;

      &__number {
        margin-right: 1rem;
        text-align: center;
        min-height: 1.8rem !important;
        min-width : 1.8rem !important;
        max-height: 1.8rem !important;
        max-width : 1.8rem !important;
        font-size: 1.4rem;
        border-radius: 50%;
        background-color: $primary;
        color: $grey-light;
      }

      &__data {
        &--label {
          font-weight: 500;
        }
      }
    }
  }

  &__notes {
    background-color: $grey-light;
    padding-top: 1rem;

    &__title, &__note {
      width: 90%;
      margin: 0 auto;
    }

    &__title {
      font-variant: small-caps;
      margin-bottom: 2rem;
      font-weight: 500;
    }

    &__note {
      background-color: #ffffff;
      padding: 1rem;
      margin-bottom: 2rem;

      &__icon {
        margin-right: 1rem;
        color: $primary;
      }

      &__data {
        padding-top: 0.3rem;
        &--label {
          font-weight: 500;
        }
      }
    }
  }

  &__comment {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    margin: 0 auto;

    &__form, &__input {
      width: 100%;
    }

    &__btn {
      align-self: end !important;
    }

    &__subtitle {
      font-size: 1.6rem;
      font-style: italic;
    }
  }
}