<div class="pwFormContainer">
  <h1>Update your personal data</h1>
  <form class="pwFormContainer__form" fxLayout="column" fxLayoutAlign="space-between start" [formGroup]="pwForm"  #mypwForm="ngForm">
    <section>
      <mat-form-field>
        <mat-label>Old password</mat-label>
        <input matInput [type]="hideOldPassword?'password':'text'"
          placeholder="Old password" formControlName="oldPassword">
        <mat-icon style="cursor: pointer" matSuffix (click)="hideOldPassword=!hideOldPassword">{{hideOldPassword ?
          'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          Password is mandatory
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input matInput [type]="hidePassword?'password':'text'"
          placeholder="Password" formControlName="password">
        <mat-icon style="cursor: pointer" matSuffix (click)="hidePassword=!hidePassword">{{hidePassword ?
          'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          Password is mandatory
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="hidePasswordConfirm?'password':'text'"
          placeholder="Confirm new password" formControlName="passwordConfirm">
        <mat-icon style="cursor: pointer" matSuffix (click)="hidePasswordConfirm=!hidePasswordConfirm">{{hidePasswordConfirm ?
          'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          You must confirm your password
        </mat-error>
      </mat-form-field>
    </section>
    <div class="pwFormContainer__form__btn">
      <button class="mainButton" (click)="updatePassword()">UPDATE PASSWORD</button>
    </div>
  </form>
</div>
