.pwFormContainer {
  width: 100%;

  h1 {
    text-align: center;
  }

  &__form {
    width: 100%;

    section, section mat-form-field, section mat-form-field input{
      width: 100%;
    }

    &__btn {
      width: 50%;
      align-self: flex-end;

      button {
        width: 100%;
      }
    }
    
  }
}