<div class="favoritesContainer globalContainer" fxLayout="column" fxLayoutAlign="start stretch">
  <wh-recipes-overview-filters (updateEvent)="getData($event)" (resetEvent)="getData()"></wh-recipes-overview-filters>
  <div class="favoritesContainer__recipes" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="grid">
    <wh-recipes-overview-item fxFlex="32%" fxFlex.md="47.5%" fxFlex.lt-md="100%" *ngFor="let favorite of favorites$ | async" [recipe]="favorite.recipe"  [removeIcon]="true" (favoriteEvent)="getData()"></wh-recipes-overview-item >
  </div>
  <mat-paginator [pageSizeOptions]="[3, 9, 18]"></mat-paginator>
</div>