.profileFormContainer {
  width: 100%;

  h1 {
    text-align: center;
  }

  &__form {
    width: 100%;

    section {
      width: 100%;

      button {
        align-self: flex-end;
        border: 0.3rem solid;
      }
    }

    &__btn {
      width: 50%;
      align-self: flex-end;

      button {
        width: 100%;
      }
    }
  }
}
