@import './../../../../../../styles/base/colors';

$avatar-size: 12rem;

.recipeAuthorContainer {
  position: relative;
  border-radius: 0;
  margin-top: calc(($avatar-size / 2) + 2rem);
  padding: 0;
  padding-top: calc($avatar-size / 2);
  padding-bottom: 1rem;
  border: 0.5rem solid $primary;

  &__avatar {
    position: absolute;
    top: calc($avatar-size / 2 * -1);
    height: $avatar-size;
    width: $avatar-size;
    border-radius: 50%;
  }

  &__infos {
    width: 90%;
    h2 {
      align-self: center;
    }

    &__line {
      width: 100%;
      margin-bottom: 1rem;

      span {
        font-size: 1.6rem;
      }

      &--icon {
        font-size: 1.8rem;
        color: $primary-dark;
        margin-right: 0.5rem;
      }
    }

    &__bio {
      font-style: italic;
    }

    &__clapBtn {
      width: 90%;
    }
  }
}
