@import './../../../../../styles/base/colors';
$filters-height: 5rem;

.recipeOverviewContainer {
  &__recipes {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  mat-paginator {
    align-self: center;
  }

  @media (max-width: 959px) {
    wh-recipes-overview-item {
      margin: 0 auto;
    }
  }

  wh-recipes-overview-filters {
    margin-bottom: 3rem;
  }
}
