<div
  class="recipeOverviewContainer globalContainer"
  fxLayout="column"
  fxLayoutAlign="start stretch"
>
  <wh-recipes-overview-filters
    (updateEvent)="getData($event)"
    (resetEvent)="getData()"
    *ngIf="!recipeName"
  ></wh-recipes-overview-filters>
  <!-- <wh-filters></wh-filters> -->
  <button 
    class="btn btn--main" 
    fxLayout="row" 
    fxLayoutAlign="space-between center"
    (click)="applyFilter()">
    <span>
      filters
    </span>
    <mat-icon>
      filter_list
    </mat-icon>
  </button>
  
  <div
    class="recipeOverviewContainer__recipes"
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    fxLayoutGap="grid"
  >
    <wh-recipes-overview-item
      fxFlex="32%"
      fxFlex.md="47.5%"
      fxFlex.lt-md="62%"
      fxFlex.lt-sm="75%"
      *ngFor="let recipe of recipes$ | async"
      [recipe]="recipe"
      (favoriteEvent)="favoriteEvent(true)"
    ></wh-recipes-overview-item>
  </div>
  <mat-paginator [pageSizeOptions]="[3, 9, 18]"></mat-paginator>
</div>
