@import './../../../styles/main.scss';

.headerWrapper {
  height: 7rem;
  width: 100%;
  border-bottom: 0.1rem solid $grey-dark;

  .header {
    margin: 0 auto;
    height: 100%;
    width: $container-width;
  }
}
