<div
  class="newPost globalContainer"
  fxLayout="column"
>
  <form [formGroup]="postGroup" fxLayout="column" fxLayoutAlign="flex-start flex-start">
    <div class="uploadFile">
      <div
        *ngIf="pictureFile || oldPicturePath"
        class="uploadFile__preview"
        fxLayout="row"
        fxLayoutAlign="flex-start center"
      >
        <div class="uploadFile__preview__image">
          <img [src]="!editMode ? previewPicturePath : environment.API_URL + '/getpicture/' + oldPicturePath" alt="File Uploading" />
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
          <span style="margin-bottom: 2rem;">{{ !editMode ? pictureFile.name : '' }}</span>
          <button
            type="button"
            mat-raised-button
            (click)="fileInput.click()"
          >
            Change picture
          </button>
        </div>
      </div>
      <button *ngIf="!pictureFile"
        type="button"
        mat-raised-button
        (click)="fileInput.click()"
      >
        Choose picture
      </button>
      <input
        hidden
        (change)="setPicture($event)"
        #fileInput
        type="file"
        accept="image/*"
      />
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
      <mat-form-field fxFlex="25">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          min="0"
          formControlName="title"
          required
        />
        <mat-error
          *ngIf="postGroup.controls['title'].hasError('required')">
          This field is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="70">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          min="0"
          formControlName="description"
          required
        />
        <mat-error
          *ngIf="postGroup.controls['description'].hasError('required')">
          This field is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- TODO nassim to move into a documentation page ? -->
    <!-- <mat-expansion-panel style="width: 100%; margin-bottom: 2rem" class="markdownTips">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Markdown tips
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Headers
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-around flex-start">
            <div class="markdownTips__tips" fxFlex="40">
              <p># Header 1</p>
              <p>## Header 2</p>
              <p>### Header 3</p>
              <p>#### Header 4</p>
              <p>##### Header 5</p>
              <p>###### Header 6</p>
            </div>
            <div class="markdownTips__preview" fxFlex="40">
              <p markdown># Header 1</p>
              <p markdown>## Header 2</p>
              <p markdown>### Header 3</p>
              <p markdown>#### Header 4</p>
              <p markdown>##### Header 5</p>
              <p markdown>###### Header 6</p>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Links
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-around flex-start">
            <div class="markdownTips__tips" fxFlex="40">
              <p># Header 1</p>
              <p>## Header 2</p>
              <p>### Header 3</p>
              <p>#### Header 4</p>
              <p>##### Header 5</p>
              <p>###### Header 6</p>
            </div>
            <div class="markdownTips__preview" fxFlex="40">
              <p markdown># Header 1</p>
              <p markdown>## Header 2</p>
              <p markdown>### Header 3</p>
              <p markdown>#### Header 4</p>
              <p markdown>##### Header 5</p>
              <p markdown>###### Header 6</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel> -->
    <ngx-markdown-editor [data]="markdown" [toolbar]="toolbar" #MarkdownEditorComponent></ngx-markdown-editor>
    <div>
      <button class="btn btn--main" [disabled]="postGroup.invalid" (click)="createOrUpdatePost()">Post</button>
    </div>
  </form>
</div>
