<div class="homeHeaderContainer" fxLayout="row" fxLayout="center center">
  <div class="homeHeaderContainer__loop" fxLayout="column" fxLayoutAlign="start start">
    <span><span class="loop--bold">while</span> <span class="loop--green">(</span><span class="loop--bold">hungry</span><span class="loop--green">:</span> state <span class="loop--green">===</span> true<span class="loop--green">)</span>&nbsp;<span class="loop--green">{{ '{' }}</span></span> 
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <span class="loop--blue">read</span><span class="loop--green">(</span>recipes<span class="loop--green">);</span>
    </span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      
      <span class="loop--blue">cook</span><span class="loop--green">(</span>ingredients<span class="loop--green">);</span></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <span class="loop--blue">eat</span><span class="loop--green">(</span>'nomnomnomnom'<span class="loop--green">);</span></span>
    <span class="loop--green">}</span>
  </div>
</div>
