@import './../../../../styles/base/colors';
@import './../../../../styles/abstract/variables';

.homeHeaderContainer {
  padding: 50px;
  width: 100%;

  &__loop {
    max-width: $container-width;
    font-family: rubik;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 2px;
    font-variant: small-caps;

    span {
      margin-bottom: 10px;
    }
  }

  .loop {
    &--bold {
      font-weight: 500;
    }
    &--red {
      color: red;
    }

    &--blue {
      color: $primary-light;
    }

    &--green {
      color: $green-light;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}