<div class="globalContainer">
  <h1>Add new recipe</h1>
  <span
    >Welcome to the recipe addition form. Follow the different steps, enter the
    necessary information for your recipe and share it with the community.</span
  >
  <mat-stepper #stepper>
    <!-- <mat-stepper [linear]="true" #stepper> -->
    <!-- first step: recipe name and check recipes -->
    <mat-step [stepControl]="recipeNameGroup" errorMessage="Step incomplete">
      <ng-template matStepLabel>New recipe</ng-template>
      <form [formGroup]="recipeNameGroup">
        <div
          class="stepTitle stepTitle"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span>Choose a title and a description for your recipe. You can check if a similar recipe already exists on the website !</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between flex-start">
          <section  fxFlex="30" fxLayout="column" fxLayoutAlign="flex-start flex-start" style="margin-right: 2rem;">
            <mat-form-field style="width: 100%;">
              <mat-label>Recipe name</mat-label>
              <input
                matInput
                type="text"
                min="0"
                formControlName="name"
                required
                fxFlex="100"
              />
              <mat-error
                *ngIf="recipeNameGroup.controls['name'].hasError('required')">
                This field is required.
              </mat-error>
              <mat-error
                  *ngIf="recipeNameGroup.controls['name'].hasError('minlength')">
                  The recipe's name must contain atleast 5 characters.
              </mat-error>
              <mat-error
                  *ngIf="recipeNameGroup.controls['name'].hasError('maxlength')">
                  The recipe's name cant exceed 30 characters.
              </mat-error>
            </mat-form-field>
            <!-- <div *ngIf="recipeNameGroup.controls['name'].invalid && 
            recipeNameGroup.controls['name'].errors && 
            (recipeNameGroup.controls['name'].dirty || recipeNameGroup.controls['name'].touched)">
              <small class="warning"
                *ngIf="recipeNameGroup.controls['name'].hasError('required')">
                This field is required.
              </small>
              <small class="warning"
                  *ngIf="recipeNameGroup.controls['name'].hasError('minlength')">
                  The recipe's name must contain atleast {{ recipeNameGroup.controls['name'].errors['minlength'].requiredLength }} characters.
              </small>
              <small class="warning"
                  *ngIf="recipeNameGroup.controls['name'].hasError('maxlength')">
                  The recipe's name cant exceed {{ recipeNameGroup.controls['name'].errors['maxlength'].requiredLength}} characters.
              </small>
            </div> -->
          </section>
          
          <section fxFlex="68" fxLayout="column" fxLayout="flex-start flex-start">
            <mat-form-field fxFlex="100">
              <mat-label>Description</mat-label>
              <input
                matInput
                type="text"
                min="0"
                formControlName="description"
                required
              />
            </mat-form-field>
            <div *ngIf="recipeNameGroup.controls['description'].invalid && 
            recipeNameGroup.controls['description'].errors && 
            (recipeNameGroup.controls['description'].dirty || recipeNameGroup.controls['description'].touched)">
              <small class="warning"
                *ngIf="recipeNameGroup.controls['description'].hasError('required')">
                This field is required.
              </small>
              <small class="warning"
                  *ngIf="recipeNameGroup.controls['description'].hasError('minlength')">
                  The minimum length for this field is {{ recipeNameGroup.controls['description'].errors['minlength'].requiredLength }} characters.
              </small>
              <small class="warning"
                  *ngIf="recipeNameGroup.controls['description'].hasError('maxlength')">
                  The maximum length for this field is {{ recipeNameGroup.controls['description'].errors['maxlength'].requiredLength}} characters.
              </small>
            </div>
          </section>
          
        </div>
      </form>
      <div class="step__footer">
        <button class="btn btn--secondary">Cancel</button>
        <button
          class="btn btn--main"
          [disabled]="recipeNameGroup.invalid"
          matStepperNext
        >
          Next
        </button>
      </div>
      <wh-recipes-overview
        *ngIf="recipeName"
        [recipeName]="recipeName"
      ></wh-recipes-overview>
    </mat-step>
    <!-- Second step : informations -->
    <mat-step [stepControl]="informationGroup" errorMessage="Step incomplete">
      <ng-template matStepLabel>Informations</ng-template>
      <div
        class="stepTitle stepTitle--recipeName"
        *ngIf="recipeName"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>{{ recipeName }}</span>
      </div>

      <form [formGroup]="informationGroup">
        <div>
          <section>
            <h2>Add a picture</h2>
            <div class="uploadFile">
              <div
                *ngIf="pictureFile"
                class="uploadFile__preview"
                fxLayout="row"
                fxLayoutAlign="flex-start center"
              >
                <div class="uploadFile__preview__image">
                  <img [src]="previewPicturePath" alt="File Uploading" />
                </div>
                <span>{{ pictureFile.name }}</span>
              </div>
              <button
                type="button"
                mat-raised-button
                (click)="fileInput.click()"
              >
                {{ pictureFile ? 'Change File' : 'Choose File' }}
              </button>
              <input
                hidden
                (change)="setPicture($event)"
                #fileInput
                type="file"
                accept="image/*"
              />
            </div>
          </section>
          <section>
            <h2>Add recipe tags (max 3)</h2>
            <div fxLayout="row" fxLayoutAlign="flex-start">
              <section>
                <!-- tag input -->
                <mat-form-field style="margin-right: 2rem">
                  <mat-label>Tag</mat-label>
                  <mat-select formControlName="tag">
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup
                      *ngFor="let category of tagCategories"
                      [label]="category.name"
                    >
                      <ng-container
                        *ngFor="let label of category.RecipeTagLabels"
                      >
                        <mat-option [value]="label" *ngIf="!checkTag(label.name)">
                          {{ label.name }}
                        </mat-option>
                      </ng-container>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <!-- tag validation errors -->
                <div *ngIf=" 
                (informationGroup.controls['tag'].dirty || informationGroup.controls['tag'].touched) && tags.length < 1">
                  <small class="warning">
                    You must add atleast one tag to your recipe.
                  </small>
                </div>
              </section>
              <mat-icon
                (click)="addTag()"
                class="formIcon formIcon--add"
                style="margin-right: 2rem"
                >add_circle</mat-icon
              >
              <div
                class="tagsContainer"
                *ngIf="tags.length > 0"
                fxLayout="row"
                fxLayoutAlign="flex-start center"
              >
                <div
                  class="tagsContainer__tag"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  *ngFor="let tag of tags; let i = index"
                  (click)="removeTag(i)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>{{ tag.name }}</span>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Servings</h2>
            <mat-form-field>
              <mat-label>people</mat-label>
              <input
                matInput
                type="number"
                min="1"
                max="12"
                default="0"
                formControlName="servings"
                required
                number
              />
            </mat-form-field>
            <div *ngIf=" 
              (informationGroup.controls['servings'].dirty || informationGroup.controls['servings'].touched)">
              <small class="warning" *ngIf="informationGroup.controls['servings'].hasError('min')">
                Your recipe must serves atleast one person.
              </small>
              <small class="warning" *ngIf="informationGroup.controls['servings'].hasError('max')">
                Servings can't exceed 12 persons.
              </small>
            </div>
          </section>
          <section>
            <h2>Cook time</h2>
            <div>
              <mat-form-field>
                <mat-label>hours</mat-label>
                <input
                  matInput
                  type="number"
                  min="0"
                  max="48"
                  formControlName="hours"
                  required
                  number
                />
              </mat-form-field>
              <span>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;</span>
              <mat-form-field>
                <mat-label>minutes</mat-label>
                <input
                  matInput
                  type="number"
                  min="0"
                  max="59"
                  formControlName="minutes"
                  required
                  number
                />
              </mat-form-field>
            </div>
            <div *ngIf=" 
              ((informationGroup.controls['hours'].dirty || informationGroup.controls['hours'].touched) || (informationGroup.controls['minutes'].dirty || informationGroup.controls['minutes'].touched)) && !cookTimeValidator(informationGroup)">
              <small class="warning" *ngIf="formatCookTime() < 5">
                Cooktime must be atleast 5 mins.
              </small>
              <small class="warning" *ngIf="formatCookTime() > 2880">
                Cooktime can't exceed 48h.
              </small>
            </div>
          </section>
          <section style="margin-bottom: 2rem">
            <h2>Difficulty</h2>
            <mat-radio-group
              aria-label="Select an mat-option"
              formControlName="difficulty"
            >
              <mat-radio-button value="Easy">Easy</mat-radio-button>
              <mat-radio-button value="Medium">Medium</mat-radio-button>
              <mat-radio-button value="Difficult">Difficult</mat-radio-button>
            </mat-radio-group>
          </section>
          <section style="margin-bottom: 2rem">
            <h2>Measurement units</h2>
            <mat-radio-group
              aria-label="Select an mat-option"
              formControlName="units"
            >
              <mat-radio-button value="metrics">Metrics</mat-radio-button>
              <mat-radio-button value="us">US</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
        <div class="step__footer">
          <button class="btn btn--secondary" (click)="stepper.previous()">
            Previous
          </button>
          <button
            class="btn btn--main"
            [disabled]="recipeNameGroup.invalid || informationGroup.invalid"
            (click)="stepper.next()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- step 3 : ingredients -->
    <mat-step [completed]="ingredients.length > 0">
      <ng-template matStepLabel>Ingredients</ng-template>
      <div
        class="stepTitle stepTitle--recipeName"
        *ngIf="recipeName"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>{{ recipeName }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between flex-start">
        <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
          <h2>Add an ingredient</h2>
          <!-- new ingredient form -->
          <form
            [formGroup]="ingredientGroup"
            class="newRecipeForm__ingredients"
            fxFlex="70"
          >
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                type="number"
                min="0"
                formControlName="quantity"
                required
                number
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit">
                <mat-option>-- None --</mat-option>
                <mat-optgroup
                  *ngFor="let group of getUnitsOptions()"
                  [label]="group.name"
                >
                  <mat-option
                    *ngFor="let unit of group.units"
                    [value]="unit.value"
                  >
                    {{ unit.viewValue }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingredient</mat-label>
              <input
                matInput
                type="text"
                minlength="0"
                value="4"
                formControlName="name"
                required
              />
            </mat-form-field>
            <mat-icon (click)="addIngredient()" class="formIcon formIcon--add"
              >add_circle</mat-icon
            >
          </form>
          <div class="step__footer">
            <button class="btn btn--secondary" (click)="stepper.previous()">
              Previous
            </button>
            <button
              class="btn btn--main"
              [disabled]="
                ingredients.length <= 0 ||
                recipeNameGroup.invalid ||
                informationGroup.invalid
              "
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </div>
        <wh-new-recipe-preview-ingredients
          [recipe]="formatRecipe()"
          [preview]="true"
          [editingIndex]="editingIndex"
          fxFlex="30"
          *ngIf="ingredients.length > 0"
          (removeIngredientEvent)="removeValue($event, 'ingredient')"
          (editIngredientEvent)="editValue($event, 'ingredient')"
        ></wh-new-recipe-preview-ingredients>
      </div>
    </mat-step>
    <!-- step4: instructions -->
    <mat-step [completed]="instructions.length > 0">
      <ng-template matStepLabel>Instructions</ng-template>
      <div fxLayout="row" fxLayoutAlign="space-between flex-start" >
        <section fxFlex="55">
          <div
          class="stepTitle stepTitle--recipeName"
          *ngIf="recipeName"
          fxLayout="row"
          fxLayoutAlign="center center"
          >
            <span>{{ recipeName }}</span>
          </div>
          <form
            [formGroup]="instructionGroup"
            class="newRecipeForm__instructions"
          >
            <h2>Add an instruction</h2>
            <div
              fxLayout="row"
              fxLayoutAlign="flex-start flex-start"
            >
              <mat-form-field fxFlex="20">
                <mat-label>Label</mat-label>
                <input
                  matInput
                  type="text"
                  min="0"
                  formControlName="label"
                  number
                />
              </mat-form-field>
              <mat-form-field fxFlex="80">
                <mat-label>Instruction</mat-label>
                <input
                  matInput
                  type="text"
                  minlength="0"
                  formControlName="instruction"
                  required
                  number
                />
              </mat-form-field>
              <mat-icon (click)="addInstruction()" class="formIcon formIcon--add"
                >add_circle</mat-icon
              >
            </div>
            <span
            *ngIf="instructions.length < 1"
              >You need to add atleast one instruction to your recipe</span>
          </form>
          <form 
            [formGroup]="noteGroup"
            class="newRecipeForm__instructions">
            <h2>Add a note</h2>
            <div
              fxLayout="row"
              fxLayoutAlign="flex-start flex-start"
            >
              <mat-form-field fxFlex="20">
                <mat-label>Label</mat-label>
                <input
                  matInput
                  type="text"
                  min="0"
                  formControlName="label"
                  number
                />
              </mat-form-field>
              <mat-form-field fxFlex="80">
                <mat-label>Note</mat-label>
                <input
                  matInput
                  type="text"
                  minlength="0"
                  formControlName="note"
                  required
                  number
                />
              </mat-form-field>
              <mat-icon (click)="addNote()" class="formIcon formIcon--add">add_circle</mat-icon>
            </div>
          </form>
          <div class="step__footer">
            <button class="btn btn--secondary" (click)="stepper.previous()">
              Previous
            </button>
            <button
              class="btn btn--main"
              [disabled]="
                instructions.length <= 0 ||
                ingredients.length <= 0 ||
                recipeNameGroup.invalid ||
                informationGroup.invalid
              "
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </section>
        <!-- ! instructions recap -->
        <div
          fxFlex="40"
          class="newRecipeForm__instructions__recap"
          *ngIf="instructions.length > 0 || notes.length > 0;"
        >
          <div
            class="newRecipeForm__instructions__recap__header"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <span>Instructions</span>
          </div>
          <div
            class="newRecipeForm__instructions__recap__instructions"
            *ngIf="instructions.length > 0" 
          >
            
            <div
              *ngFor="let instruction of instructions; let i = index"
              fxLayout="row"
              fxLayoutAlign="space-between flex-start"
              class="newRecipeForm__instructions__recap__instructions__line"
            >
              <section fxLayout="row"
              fxLayoutAlign="flex-start flex-start">
                <div
                class="newRecipeForm__instructions__recap__instructions__line__number"
                fxLayout="column"
                fxLayoutAlign="center center"
                >
                  {{ i + 1 }}
                </div>
                <span
                  *ngIf="instruction['label']"
                  class="newRecipeForm__instructions__recap__instructions__line__label"
                  >{{ instruction['label'] }}&nbsp;:</span
                >
                <span
                  class="newRecipeForm__instructions__recap__instructions__line__value"
                  >{{ instruction['instruction'] }}</span
                >
              </section>
              <section class="recapActions"
                fxLayout="row" fxLayoutAlign="flex-end center">
                <mat-icon matTooltip="edit instruction" (click)="editValue(i, 'instruction')" *ngIf="(i !== editingIndex) || (editingType !== 'instruction')">edit</mat-icon>
                <mat-icon matTooltip="remove instruction" (click)="removeValue(i, 'instruction')" *ngIf="(i !== editingIndex) || (editingType !== 'instruction')">delete</mat-icon>
                <mat-icon *ngIf="editingIndex === i && editingType === 'instruction'">draw</mat-icon>
                <span *ngIf="editingIndex === i && editingType === 'instruction'">editing</span>
              </section>
            </div>
          </div>
          <div
            class="newRecipeForm__instructions__recap__notes"
            *ngIf="notes.length > 0"
            fxLayout="column"
            fxLayoutAlign="flex-start flex-start"
          >
            <span>Notes</span>
            <div
              *ngFor="let note of notes; let i = index;"
              class="newRecipeForm__instructions__recap__notes__line"
              fxLayout="row"
              fxLayoutAlign="space-between flex-start"
            > 
              <section fxLayout="row"
              fxLayoutAlign="flex-start flex-start">
                <div
                fxLayout="column"
                fxLayoutAlign="center center"
                class="newRecipeForm__instructions__recap__notes__line__icon"
                >
                  <mat-icon>info</mat-icon>
                </div>
                <span
                  class="newRecipeForm__instructions__recap__notes__line__label"
                  *ngIf="note['label']"
                  >{{ note['label'] }}:</span
                >
                <span class="newRecipeForm__instructions__recap__notes__value">{{
                  note['note']
                }}</span>
              </section>
              <section class="recapActions"
                fxLayout="row" fxLayoutAlign="flex-end center">
                <mat-icon matTooltip="edit note" (click)="editValue(i, 'note')" *ngIf="(i !== editingIndex) || (editingType !== 'note')">edit</mat-icon>
                <mat-icon matTooltip="remove note" (click)="removeValue(i, 'note')" *ngIf="(i !== editingIndex) || (editingType !== 'note')">delete</mat-icon>
                <mat-icon *ngIf="editingIndex === i && editingType === 'note'">draw</mat-icon>
                <span *ngIf="editingIndex === i && editingType === 'note'">editing</span>
              </section>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Preview</ng-template>
      <div
        class="stepTitle"
        *ngIf="isValidRecipe()"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>Check your recipe before creating !</span>
      </div>

      <div
        class="newRecipeForm__preview"
        fxLayout="row"
        fxLayoutAlign="space-between flex-start"
        *ngIf="isValidRecipe()"
      >
        <wh-recipe-instructions
          [recipe]="formatRecipe()"
          [preview]="true"
          fxFlex="60"
          ></wh-recipe-instructions> 
        <div class="newRecipeForm__preview__image" fxFlex="30">
          <img [src]="previewPicturePath" alt="Recipe Picture Preview" />
        </div>
      </div>
      <div class="step__footer">
        <button class="btn btn--secondary" (click)="stepper.previous()">
          Previous
        </button>
        <button
          class="btn btn--main"
          [disabled]="!isValidRecipe()"
          (click)="createRecipe()"
        >
          Create
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
