.globalContainer {
  width: $container-width;
  min-height: $container-min-height;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}


@media (max-width: 1200px) {
  .globalContainer {
    width: calc($container-width + 20vw);
  }
}

@media (max-width: 700px) {
  .globalContainer {
    width: calc($container-width + 30vw);
  }
}

// @media (max-width: 500px) {
//   .globalContainer {
//     width: calc($container-width + 40vw);
//   }
// }



