<div class="profileFormContainer">
  <h1>Update your personal data</h1>
  <form class="profileFormContainer__form" fxLayout="column" fxLayoutAlign="space-between start" [formGroup]="profileForm"  #myProfileForm="ngForm">
    <section>
      <mat-form-field mat-form-field fxFlex="100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="profileForm.controls['email'].hasError('pattern')">
          Incorrect email adress
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field mat-form-field fxFlex="100">
        <mat-label>Nickname</mat-label>
        <input matInput 
          type="text" 
          placeholder="Nickname"
          formControlName="nickname">
        <mat-error>
          Nickname is mandatory
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field mat-form-field fxFlex="100">
        <mat-label>Biography</mat-label>
        <textarea 
        formControlName="bio"
        matInput 
        placeholder="Tell us about you... We wanna know everything"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        maxlength="255"
      ></textarea>
      </mat-form-field>
    </section>
    <div class="profileFormContainer__form__btn" fxFlex="100">
      <button class="mainButton" (click)="updateUser()">UPDATE</button>
    </div>
  </form>
</div>
