<div class="homeRecipeContainer">
  <div
    class="homeRecipeContainer__recipes"
    *ngIf="recipes"
    fxLayout="column"
    fxLayoutAlign="flex-start center"
  >
    <div fxLayout="row wrap"
    fxLayoutAlign="space-between"
    fxLayoutGap="grid">
      <wh-recipes-overview-item
        fxFlex="32%"
        fxFlex.md="47.5%"
        fxFlex.sm="62%"
        fxFlex.xs="90%"
        *ngFor="let recipe of recipes"
        [recipe]="recipe"
      ></wh-recipes-overview-item>
    </div>
    <div style="width: 100%">
      <button
      fxFlex="32%"
      fxFlex.md="47.5%"
      fxFlex.sm="62%"
      fxFlex.xs="90%"
      class="btn btn--main"
      routerLink="/recipes"
      >
        Check all recipes
      </button>
    </div>
  </div>
</div>
