@import './../../../../styles/base/colors';
@import './../../../../styles/abstract/variables';

.homeRecipeContainer {
  width: 100%;
  background-color: $grey-light;

  &__recipes {
    padding: 5rem 0;
    width: $container-width;
    margin: 0 auto;
  }

  @media (max-width: 959px) {
    wh-recipes-overview-item {
      margin: 0 auto;
    }
  }

  @media (max-width: 1200px) {
    &__recipes {
      width: calc($container-width + 20vw);
    }
  }

  @media (max-width: 700px) {
    &__recipes {
      width: calc($container-width + 30vw);
    }
  }

  &__btn {
    margin-top: 2rem;
    width: 32%;
  }
}
