.blogWrapper {
  position: relative;

  &__posts {
    width: 100%;
  }

  @media (max-width: 959px) {
    wh-blog-item {
      margin: 0 auto;
    }
  }

  &__newPostBtn {
    position: absolute;
    right: 0rem;
    top: 3rem;
  }

}